<p id="notice"><%= notice %></p>

<div class="container">
  <div class="width-order">

    <h1 class="text-center">Orders</h1>

    <%= link_to 'Register New Order', new_order_path, class: "btn btn-default"%>

    <table class="table">
      <thead>
        <tr>
          <th>Table</th>
          <th>Quantity</th>
          <th>Product</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% if @orders.empty? %>
          <tr>
              <td colspan="99" class="text-center">No orders.</td>
          </tr>
        <% end %>

        <% @orders.each do |order| %>
          <tr>
            <td><%= order.table %></td>
            <td><%= order.product.name %></td>
            <td><%= order.quantity %></td>
            <td>              
              <%= link_to 'Edit', edit_order_path(order) %>
              <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>              
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Listing the Products', products_path %>
  </div>
</div>